coverage/
artifacts/
node_modules/
packages/
.nyc_output/
**/npm-debug.log
tmp/
.DS_Store
.*.swp
.svn
*~
.com.apple.timemachine.supported
lerna-debug.log
travis_wait*.log
*.iml
.idea/
package-lock.json

#sd gh-pages deploy ignore
.cache/
alias/
versions/