li:not(:last-child) .search-result {
  margin-bottom: 1.5em;
}

.input {
  width: 100%;
}

td:first-child {
  width: 1%;
  white-space: nowrap;
}

.search-results {
  margin-top: 1em;
}

.navi-search-bar__searchfield {
  background: white;
  border-radius: 4px;
  border-color: #d5d5d5;
  border-width: 1px;
  border-style: solid;
}
