.navi-new-user-modal {
  &__header {
    display: flex;
    padding: 15px 58px 13px 19px !important; // overriding default modal header padding

    &-title {
      margin-left: 12px;
    }

    &-icon {
      margin-bottom: 3px;
    }
  }

  &__content {
    padding: 20px !important; // overriding default modal content padding

    &-filter-group {
      margin: 20px 0px 20px;
    }
  }

  &__footer {
    padding: 20px !important; // overriding default modal footer padding
    &-button-ok,
    &-button-cancel {
      margin-right: 20px;
    }
  }
}

.modal-container {
  width: 513px !important; //overriding defualt modal container width
}

.navi-new-user-modal__content-filter-group input {
  width: 350px;
}
