@import 'navi-core.less';

.table-example {
  height: 450px;
  display: flex;
}

h3 {
  text-align: center;
}

.chart-container {
  display: flex;
  height: 500px;
  width: 100%;

  &.pie-chart-container {
    .pie-chart-widget-container {
      display: flex;
      flex-direction: column;
      flex: 1;
    }
  }
}

.navi-visualization-config {
  width: 400px;
  margin: 0 10px;
}

* {
  font-family: @font-family-sans-serif;
}

/* Use `zoom` over `transform` since some tests depend on reading height and width */
#ember-testing {
  transform: none !important;
  zoom: 50%;
}

.navi-visualization-config {
  min-height: 500px;
}

.metric-label__container {
  display: flex;
  flex-flow: row wrap;
}
