@import 'navi-core.less';

// Blue Palette
// -----------
@blue-200: #2698b8;
@blue-300: #2285bc;
@blue-400: #258dc8;
@blue-500: #198fff;
@blue-600: #1c66bf;
@blue-700: #1e39a2;
@blue-800: #211981;
@blue-900: #210a6f;

.header {
  background: linear-gradient(
    135deg,
    @blue-900 0%,
    @blue-800 11%,
    @blue-700 36%,
    @blue-600 64%,
    @blue-400 83%,
    @blue-300 95%,
    @blue-200 99%
  );
  color: #fff;
  display: flex;
  font-family: @font-family-thin;
  margin-bottom: 30px;
  padding: 20px;

  .visualization-links {
    display: flex;
    flex: 1;
  }

  .title {
    margin: 2px 20px 0 0;
    font-weight: 400;
  }

  .visualization-link {
    list-style: none;
    padding: 10px;
    margin-right: 15px;
  }

  a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
  }

  .fa {
    margin-right: 5px;
  }
}

.table-example {
  height: 450px;
  display: flex;
}

h3 {
  text-align: center;
}

.chart-container {
  display: flex;
  height: 500px;
  width: 100%;

  &.pie-chart-container {
    .pie-chart-widget-container {
      display: flex;
      flex-direction: column;
      flex: 1;
    }
  }
}

.visualization-config {
  width: 400px;
  margin: 0 10px;

  .chart-series-collection .scrollable {
    height: 350px;
  }
}

* {
  font-family: @font-family-sans-serif;
}

/* Use `zoom` over `transform` since some tests depend on reading height and width */
#ember-testing {
  transform: none !important;
  zoom: 50%;
}

.visualization-config {
  min-height: 500px;
}

.metric-label__container {
  display: flex;
  flex-flow: row wrap;
}
