@import 'denali/denali';
@import 'denali/ember-power-select';
@import 'navi-core';
@import 'navi-notifications';
@import 'navi-reports';
@import 'yavin-c3';

html,
body {
  display: flex;
  flex-flow: column;
  height: 100vh;
  margin: 0;
}
