@import 'denali/denali';
@import 'denali/ember-power-select';
@import 'navi-core';
@import 'navi-reports';
@import 'navi-notifications';
@import 'navi-dashboards';

body {
  display: flex;
  flex: 1;
  flex-flow: column;
  height: 100vh;
  margin: 0;
}

.nav-responsive {
  z-index: 1;

  &-menu {
    cursor: pointer;
  }
}
