@import 'denali/denali';
@import 'denali/ember-power-select';
@import 'navi-core';
@import 'navi-reports';
@import 'navi-notifications';
@import 'navi-dashboards';
@import 'yavin-c3';

body {
  #ember-testing-container {  /* stylelint-disable-line selector-max-id */
    overflow: clip;
  }
}

.nav-responsive {
  z-index: 1;

  &-menu {
    cursor: pointer;
  }
}
