.dropdown-parameter-picker {
  .chips:hover {
    color: $links-hover-text-color;
  }

  &__dropdown {
    min-width: 200px !important;
  }

  .ember-power-select-trigger[aria-expanded='true'] {
    .chips {
      color: $links-hover-text-color;
    }
  }

  .ember-power-select-trigger {
    background: none !important;
    border-radius: 0 !important;
    box-shadow: none;
    min-height: 0;
    outline: none;
    padding: 0 !important;

    &::before {
      content: none;
    }
  }
}
