.dropdown-parameter-picker {
  .chips {
    cursor: pointer;
    line-height: 12px;

    &:hover,
    .is-active {
      background-color: $tags-active-bg-color;
    }
  }

  &__dropdown {
    min-width: 200px !important;
    
    > .ember-power-select-options {
      max-height: none;
    }
  }

  .ember-power-select-trigger {
    background: none;
    border-radius: 0;
    box-shadow: none;
    min-height: 0;
    outline: none;
    padding: 0;

    &::before {
      content: none;
    }
  }
}
