.highlight {
  .hll {
    background-color: #ffffcc;
  }
  .c {
    font-style: italic;
  }
  .err {
    border: 1px solid #ff0000;
  }
  .k {
    font-weight: bold;
  }
  .cm {
    font-style: italic;
  }
  .c1 {
    font-style: italic;
  }
  .cs {
    font-style: italic;
  }
  .ge {
    font-style: italic;
  }
  .gh {
    font-weight: bold;
  }
  .gp {
    font-weight: bold;
  }
  .gs {
    font-weight: bold;
  }
  .gu {
    font-weight: bold;
  }
  .kc {
    font-weight: bold;
  }
  .kd {
    font-weight: bold;
  }
  .kn {
    font-weight: bold;
  }
  .kr {
    font-weight: bold;
  }
  .s {
    font-style: italic;
  }
  .nc {
    font-weight: bold;
  }
  .ni {
    font-weight: bold;
  }
  .ne {
    font-weight: bold;
  }
  .nn {
    font-weight: bold;
  }
  .nt {
    font-weight: bold;
  }
  .ow {
    font-weight: bold;
  }
  .sb {
    font-style: italic;
  }
  .sc {
    font-style: italic;
  }
  .sd {
    font-style: italic;
  }
  .s2 {
    font-style: italic;
  }
  .se {
    font-weight: bold;
    font-style: italic;
  }
  .sh {
    font-style: italic;
  }
  .si {
    font-weight: bold;
    font-style: italic;
  }
  .sx {
    font-style: italic;
  }
  .sr {
    font-style: italic;
  }
  .s1 {
    font-style: italic;
  }
  .ss {
    font-style: italic;
  }
}
