.highlight {
  .hll {
    background-color: #ffffcc;
    background-color: #ffffcc;
  }
  .c {
    font-style: italic;
    color: #808080;
  }
  .err {
    border: 1px solid #ff0000;
    color: #f00000;
    background-color: #f0a0a0;
  }
  .k {
    font-weight: bold;
    color: #008000;
    font-weight: bold;
  }
  .cm {
    font-style: italic;
    color: #808080;
  }
  .c1 {
    font-style: italic;
    color: #808080;
  }
  .cs {
    font-style: italic;
    color: #cc0000;
    font-weight: bold;
  }
  .ge {
    font-style: italic;
    font-style: italic;
  }
  .gh {
    font-weight: bold;
    color: #000080;
    font-weight: bold;
  }
  .gp {
    font-weight: bold;
    color: #c65d09;
    font-weight: bold;
  }
  .gs {
    font-weight: bold;
    font-weight: bold;
  }
  .gu {
    font-weight: bold;
    color: #800080;
    font-weight: bold;
  }
  .kc {
    font-weight: bold;
    color: #008000;
    font-weight: bold;
  }
  .kd {
    font-weight: bold;
    color: #008000;
    font-weight: bold;
  }
  .kn {
    font-weight: bold;
    color: #008000;
    font-weight: bold;
  }
  .kr {
    font-weight: bold;
    color: #008000;
    font-weight: bold;
  }
  .s {
    font-style: italic;
    background-color: #fff0f0;
  }
  .nc {
    font-weight: bold;
    color: #b00060;
    font-weight: bold;
  }
  .ni {
    font-weight: bold;
    color: #800000;
    font-weight: bold;
  }
  .ne {
    font-weight: bold;
    color: #f00000;
    font-weight: bold;
  }
  .nn {
    font-weight: bold;
    color: #0e84b5;
    font-weight: bold;
  }
  .nt {
    font-weight: bold;
    color: #007000;
  }
  .ow {
    font-weight: bold;
    color: #000000;
    font-weight: bold;
  }
  .sb {
    font-style: italic;
    background-color: #fff0f0;
  }
  .sc {
    font-style: italic;
    color: #0040d0;
  }
  .o {
    color: #303030;
  }
  .cp {
    color: #507090;
  }
  .gd {
    color: #a00000;
  }
  .gr {
    color: #ff0000;
  }
  .gi {
    color: #00a000;
  }
  .go {
    color: #808080;
  }
  .gt {
    color: #0040d0;
  }
  .kp {
    color: #003080;
    font-weight: bold;
  }
  .kt {
    color: #303090;
    font-weight: bold;
  }
  .m {
    color: #6000e0;
    font-weight: bold;
  }
  .na {
    color: #0000c0;
  }
  .nb {
    color: #007020;
  }
  .no {
    color: #003060;
    font-weight: bold;
  }
  .nd {
    color: #505050;
    font-weight: bold;
  }
  .nf {
    color: #0060b0;
    font-weight: bold;
  }
  .nl {
    color: #907000;
    font-weight: bold;
  }
  .nv {
    color: #906030;
  }
  .w {
    color: #bbbbbb;
  }
  .mf {
    color: #6000e0;
    font-weight: bold;
  }
  .mh {
    color: #005080;
    font-weight: bold;
  }
  .mi {
    color: #0000d0;
    font-weight: bold;
  }
  .mo {
    color: #4000e0;
    font-weight: bold;
  }
  .sd {
    color: #d04020;
    font-style: italic;
  }
  .s2 {
    background-color: #fff0f0;
    font-style: italic;
  }
  .se {
    color: #606060;
    font-weight: bold;
    background-color: #fff0f0;
    font-weight: bold;
    font-style: italic;
  }
  .sh {
    background-color: #fff0f0;
    font-style: italic;
  }
  .si {
    background-color: #e0e0e0;
    font-weight: bold;
    font-style: italic;
  }
  .sx {
    color: #d02000;
    background-color: #fff0f0;
    font-style: italic;
  }
  .sr {
    color: #000000;
    background-color: #fff0ff;
    font-style: italic;
  }
  .s1 {
    background-color: #fff0f0;
    font-style: italic;
  }
  .ss {
    color: #a06000;
    font-style: italic;
  }
  .bp {
    color: #007020;
  }
  .vc {
    color: #306090;
  }
  .vg {
    color: #d07000;
    font-weight: bold;
  }
  .vi {
    color: #3030b0;
  }
  .il {
    color: #0000d0;
    font-weight: bold;
  }
}
