.highlight {
  .hll {
    background-color: #ffffcc;
  }
  .c {
    color: #408080;
    font-style: italic;
  }
  .err {
    border: 1px solid #ff0000;
  }
  .k {
    color: #008000;
    font-weight: bold;
  }
  .o {
    color: #666666;
  }
  .cm {
    color: #408080;
    font-style: italic;
  }
  .cp {
    color: #bc7a00;
  }
  .c1 {
    color: #408080;
    font-style: italic;
  }
  .cs {
    color: #408080;
    font-style: italic;
  }
  .gd {
    color: #a00000;
  }
  .ge {
    font-style: italic;
  }
  .gr {
    color: #ff0000;
  }
  .gh {
    color: #000080;
    font-weight: bold;
  }
  .gi {
    color: #00a000;
  }
  .go {
    color: #808080;
  }
  .gp {
    color: #000080;
    font-weight: bold;
  }
  .gs {
    font-weight: bold;
  }
  .gu {
    color: #800080;
    font-weight: bold;
  }
  .gt {
    color: #0040d0;
  }
  .kc {
    color: #008000;
    font-weight: bold;
  }
  .kd {
    color: #008000;
    font-weight: bold;
  }
  .kn {
    color: #008000;
    font-weight: bold;
  }
  .kp {
    color: #008000;
  }
  .kr {
    color: #008000;
    font-weight: bold;
  }
  .kt {
    color: #b00040;
  }
  .m {
    color: #666666;
  }
  .s {
    color: #ba2121;
  }
  .na {
    color: #7d9029;
  }
  .nb {
    color: #008000;
  }
  .nc {
    color: #0000ff;
    font-weight: bold;
  }
  .no {
    color: #880000;
  }
  .nd {
    color: #aa22ff;
  }
  .ni {
    color: #999999;
    font-weight: bold;
  }
  .ne {
    color: #d2413a;
    font-weight: bold;
  }
  .nf {
    color: #0000ff;
  }
  .nl {
    color: #a0a000;
  }
  .nn {
    color: #0000ff;
    font-weight: bold;
  }
  .nt {
    color: #008000;
    font-weight: bold;
  }
  .nv {
    color: #19177c;
  }
  .ow {
    color: #aa22ff;
    font-weight: bold;
  }
  .w {
    color: #bbbbbb;
  }
  .mf {
    color: #666666;
  }
  .mh {
    color: #666666;
  }
  .mi {
    color: #666666;
  }
  .mo {
    color: #666666;
  }
  .sb {
    color: #ba2121;
  }
  .sc {
    color: #ba2121;
  }
  .sd {
    color: #ba2121;
    font-style: italic;
  }
  .s2 {
    color: #ba2121;
  }
  .se {
    color: #bb6622;
    font-weight: bold;
  }
  .sh {
    color: #ba2121;
  }
  .si {
    color: #bb6688;
    font-weight: bold;
  }
  .sx {
    color: #008000;
  }
  .sr {
    color: #bb6688;
  }
  .s1 {
    color: #ba2121;
  }
  .ss {
    color: #19177c;
  }
  .bp {
    color: #008000;
  }
  .vc {
    color: #19177c;
  }
  .vg {
    color: #19177c;
  }
  .vi {
    color: #19177c;
  }
  .il {
    color: #666666;
  }
}
