.highlight {
	.hll {
		background-color: #ffffcc;
	}
	.c {
		color: #008800;
		font-style: italic;
		color: #60a0b0;
		font-style: italic;
	}
	.err {
		border: 1px solid #FF0000;
		border: 1px solid #FF0000;
	}
	.k {
		color: #AA22FF;
		font-weight: bold;
		color: #007020;
		font-weight: bold;
	}
	.o {
		color: #666666;
		color: #666666;
	}
	.cm {
		color: #008800;
		font-style: italic;
		color: #60a0b0;
		font-style: italic;
	}
	.cp {
		color: #008800;
		color: #007020;
	}
	.c1 {
		color: #008800;
		font-style: italic;
		color: #60a0b0;
		font-style: italic;
	}
	.cs {
		color: #008800;
		font-weight: bold;
		color: #60a0b0;
		background-color: #fff0f0;
	}
	.gd {
		color: #A00000;
		color: #A00000;
	}
	.ge {
		font-style: italic;
		font-style: italic;
	}
	.gr {
		color: #FF0000;
		color: #FF0000;
	}
	.gh {
		color: #000080;
		font-weight: bold;
		color: #000080;
		font-weight: bold;
	}
	.gi {
		color: #00A000;
		color: #00A000;
	}
	.go {
		color: #808080;
		color: #808080;
	}
	.gp {
		color: #000080;
		font-weight: bold;
		color: #c65d09;
		font-weight: bold;
	}
	.gs {
		font-weight: bold;
		font-weight: bold;
	}
	.gu {
		color: #800080;
		font-weight: bold;
		color: #800080;
		font-weight: bold;
	}
	.gt {
		color: #0040D0;
		color: #0040D0;
	}
	.kc {
		color: #AA22FF;
		font-weight: bold;
		color: #007020;
		font-weight: bold;
	}
	.kd {
		color: #AA22FF;
		font-weight: bold;
		color: #007020;
		font-weight: bold;
	}
	.kn {
		color: #AA22FF;
		font-weight: bold;
		color: #007020;
		font-weight: bold;
	}
	.kp {
		color: #AA22FF;
		color: #007020;
	}
	.kr {
		color: #AA22FF;
		font-weight: bold;
		color: #007020;
		font-weight: bold;
	}
	.kt {
		color: #00BB00;
		font-weight: bold;
		color: #902000;
	}
	.m {
		color: #666666;
		color: #40a070;
	}
	.s {
		color: #BB4444;
		color: #4070a0;
	}
	.na {
		color: #BB4444;
		color: #4070a0;
	}
	.nb {
		color: #AA22FF;
		color: #007020;
	}
	.nc {
		color: #0000FF;
		color: #0e84b5;
		font-weight: bold;
	}
	.no {
		color: #880000;
		color: #60add5;
	}
	.nd {
		color: #AA22FF;
		color: #555555;
		font-weight: bold;
	}
	.ni {
		color: #999999;
		font-weight: bold;
		color: #d55537;
		font-weight: bold;
	}
	.ne {
		color: #D2413A;
		font-weight: bold;
		color: #007020;
	}
	.nf {
		color: #00A000;
		color: #06287e;
	}
	.nl {
		color: #A0A000;
		color: #002070;
		font-weight: bold;
	}
	.nn {
		color: #0000FF;
		font-weight: bold;
		color: #0e84b5;
		font-weight: bold;
	}
	.nt {
		color: #008000;
		font-weight: bold;
		color: #062873;
		font-weight: bold;
	}
	.nv {
		color: #B8860B;
		color: #bb60d5;
	}
	.ow {
		color: #AA22FF;
		font-weight: bold;
		color: #007020;
		font-weight: bold;
	}
	.w {
		color: #bbbbbb;
		color: #bbbbbb;
	}
	.mf {
		color: #666666;
		color: #40a070;
	}
	.mh {
		color: #666666;
		color: #40a070;
	}
	.mi {
		color: #666666;
		color: #40a070;
	}
	.mo {
		color: #666666;
		color: #40a070;
	}
	.sb {
		color: #BB4444;
		color: #4070a0;
	}
	.sc {
		color: #BB4444;
		color: #4070a0;
	}
	.sd {
		color: #BB4444;
		font-style: italic;
		color: #4070a0;
		font-style: italic;
	}
	.s2 {
		color: #BB4444;
		color: #4070a0;
	}
	.se {
		color: #BB6622;
		font-weight: bold;
		color: #4070a0;
		font-weight: bold;
	}
	.sh {
		color: #BB4444;
		color: #4070a0;
	}
	.si {
		color: #BB6688;
		font-weight: bold;
		color: #70a0d0;
		font-style: italic;
	}
	.sx {
		.highlight .hll {background-color: #ffffcc;
		color: #c65d09;
	}
	.sr {
		color: #235388;
	}
	.s1 {
		color: #4070a0;
		color: #BB4444;
	}
	.ss {
		color: #517918;
		color: #B8860B;
	}
	.bp {
		color: #007020;
		color: #AA22FF;
	}
	.vc {
		color: #bb60d5;
		color: #B8860B;
	}
	.vg {
		color: #bb60d5;
		color: #B8860B;
	}
	.vi {
		color: #bb60d5;
		color: #B8860B;
	}
	.il {
		color: #40a070;
		color: #666666;
	}
}
color {
	&: {
		#008000;}.highlight {
			.sr {
				color: #BB6688;
			}
		}
	}
}
