.highlight {
	pre {
		background-color: #333;
	}
	.hll {
		background-color: #333333;
	}
	.c {
		color: #008800;
		font-style: italic;
		background-color: #0f140f;
	}
	.err {
		color: #ffffff;
	}
	.g {
		color: #ffffff;
	}
	.k {
		color: #fb660a;
		font-weight: bold;
	}
	.l {
		color: #ffffff;
	}
	.n {
		color: #ffffff;
	}
	.o {
		color: #ffffff;
	}
	.x {
		color: #ffffff;
	}
	.p {
		color: #ffffff;
	}
	.cm {
		color: #008800;
		font-style: italic;
		background-color: #0f140f;
	}
	.cp {
		color: #ff0007;
		font-weight: bold;
		font-style: italic;
		background-color: #0f140f;
	}
	.c1 {
		color: #008800;
		font-style: italic;
		background-color: #0f140f;
	}
	.cs {
		color: #008800;
		font-style: italic;
		background-color: #0f140f;
	}
	.gd {
		color: #ffffff;
	}
	.ge {
		color: #ffffff;
	}
	.gr {
		color: #ffffff;
	}
	.gh {
		color: #ffffff;
		font-weight: bold;
	}
	.gi {
		color: #ffffff;
	}
	.go {
		color: #444444;
		background-color: #222222;
	}
	.gp {
		color: #ffffff;
	}
	.gs {
		color: #ffffff;
	}
	.gu {
		color: #ffffff;
		font-weight: bold;
	}
	.gt {
		color: #ffffff;
	}
	.kc {
		color: #fb660a;
		font-weight: bold;
	}
	.kd {
		color: #fb660a;
		font-weight: bold;
	}
	.kn {
		color: #fb660a;
		font-weight: bold;
	}
	.kp {
		color: #fb660a;
	}
	.kr {
		color: #fb660a;
		font-weight: bold;
	}
	.kt {
		color: #cdcaa9;
		font-weight: bold;
	}
	.ld {
		color: #ffffff;
	}
	.m {
		color: #0086f7;
		font-weight: bold;
	}
	.s {
		color: #0086d2;
	}
	.na {
		color: #ff0086;
		font-weight: bold;
	}
	.nb {
		color: #ffffff;
	}
	.nc {
		color: #ffffff;
	}
	.no {
		color: #0086d2;
	}
	.nd {
		color: #ffffff;
	}
	.ni {
		color: #ffffff;
	}
	.ne {
		color: #ffffff;
	}
	.nf {
		color: #ff0086;
		font-weight: bold;
	}
	.nl {
		color: #ffffff;
	}
	.nn {
		color: #ffffff;
	}
	.nx {
		color: #ffffff;
	}
	.py {
		color: #ffffff;
	}
	.nt {
		color: #fb660a;
		font-weight: bold;
	}
	.nv {
		color: #fb660a;
	}
	.ow {
		color: #ffffff;
	}
	.w {
		color: #888888;
	}
	.mf {
		color: #0086f7;
		font-weight: bold;
	}
	.mh {
		color: #0086f7;
		font-weight: bold;
	}
	.mi {
		color: #0086f7;
		font-weight: bold;
	}
	.mo {
		color: #0086f7;
		font-weight: bold;
	}
	.sb {
		color: #0086d2;
	}
	.sc {
		color: #0086d2;
	}
	.sd {
		color: #0086d2;
	}
	.s2 {
		color: #0086d2;
	}
	.se {
		color: #0086d2;
	}
	.sh {
		color: #0086d2;
	}
	.si {
		color: #0086d2;
	}
	.sx {
		color: #0086d2;
	}
	.sr {
		color: #0086d2;
	}
	.s1 {
		color: #0086d2;
	}
	.ss {
		color: #0086d2;
	}
	.bp {
		color: #ffffff;
	}
	.vc {
		color: #fb660a;
	}
	.vg {
		color: #fb660a;
	}
	.vi {
		color: #fb660a;
	}
	.il {
		color: #0086f7;
		font-weight: bold;
	}
}
