.highlight {
	pre {
		background-color: #404040;
	}
	.hll {
		background-color: #404040;
	}
	.c {
		color: #999999;
		font-style: italic;
	}
	.err {
		color: #a61717;
		background-color: #e3d2d2;
	}
	.g {
		color: #d0d0d0;
	}
	.k {
		color: #6ab825;
		font-weight: bold;
	}
	.l {
		color: #d0d0d0;
	}
	.n {
		color: #d0d0d0;
	}
	.o {
		color: #d0d0d0;
	}
	.x {
		color: #d0d0d0;
	}
	.p {
		color: #d0d0d0;
	}
	.cm {
		color: #999999;
		font-style: italic;
	}
	.cp {
		color: #cd2828;
		font-weight: bold;
	}
	.c1 {
		color: #999999;
		font-style: italic;
	}
	.cs {
		color: #e50808;
		font-weight: bold;
		background-color: #520000;
	}
	.gd {
		color: #d22323;
	}
	.ge {
		color: #d0d0d0;
		font-style: italic;
	}
	.gr {
		color: #d22323;
	}
	.gh {
		color: #ffffff;
		font-weight: bold;
	}
	.gi {
		color: #589819;
	}
	.go {
		color: #cccccc;
	}
	.gp {
		color: #aaaaaa;
	}
	.gs {
		color: #d0d0d0;
		font-weight: bold;
	}
	.gu {
		color: #ffffff;
		text-decoration: underline;
	}
	.gt {
		color: #d22323;
	}
	.kc {
		color: #6ab825;
		font-weight: bold;
	}
	.kd {
		color: #6ab825;
		font-weight: bold;
	}
	.kn {
		color: #6ab825;
		font-weight: bold;
	}
	.kp {
		color: #6ab825;
	}
	.kr {
		color: #6ab825;
		font-weight: bold;
	}
	.kt {
		color: #6ab825;
		font-weight: bold;
	}
	.ld {
		color: #d0d0d0;
	}
	.m {
		color: #3677a9;
	}
	.s {
		color: #ed9d13;
	}
	.na {
		color: #bbbbbb;
	}
	.nb {
		color: #24909d;
	}
	.nc {
		color: #447fcf;
		text-decoration: underline;
	}
	.no {
		color: #40ffff;
	}
	.nd {
		color: #ffa500;
	}
	.ni {
		color: #d0d0d0;
	}
	.ne {
		color: #bbbbbb;
	}
	.nf {
		color: #447fcf;
	}
	.nl {
		color: #d0d0d0;
	}
	.nn {
		color: #447fcf;
		text-decoration: underline;
	}
	.nx {
		color: #d0d0d0;
	}
	.py {
		color: #d0d0d0;
	}
	.nt {
		color: #6ab825;
		font-weight: bold;
	}
	.nv {
		color: #40ffff;
	}
	.ow {
		color: #6ab825;
		font-weight: bold;
	}
	.w {
		color: #666666;
	}
	.mf {
		color: #3677a9;
	}
	.mh {
		color: #3677a9;
	}
	.mi {
		color: #3677a9;
	}
	.mo {
		color: #3677a9;
	}
	.sb {
		color: #ed9d13;
	}
	.sc {
		color: #ed9d13;
	}
	.sd {
		color: #ed9d13;
	}
	.s2 {
		color: #ed9d13;
	}
	.se {
		color: #ed9d13;
	}
	.sh {
		color: #ed9d13;
	}
	.si {
		color: #ed9d13;
	}
	.sx {
		color: #ffa500;
	}
	.sr {
		color: #ed9d13;
	}
	.s1 {
		color: #ed9d13;
	}
	.ss {
		color: #ed9d13;
	}
	.bp {
		color: #24909d;
	}
	.vc {
		color: #40ffff;
	}
	.vg {
		color: #40ffff;
	}
	.vi {
		color: #40ffff;
	}
	.il {
		color: #3677a9;
	}
}
