.highlight {
	.hll {
		background-color: #ffffcc;
	}
	.c {
		color: #228B22;
	}
	.err {
		color: #a61717;
		background-color: #e3d2d2;
	}
	.k {
		color: #8B008B;
		font-weight: bold;
	}
	.cm {
		color: #228B22;
	}
	.cp {
		color: #1e889b;
	}
	.c1 {
		color: #228B22;
	}
	.cs {
		color: #8B008B;
		font-weight: bold;
	}
	.gd {
		color: #aa0000;
	}
	.ge {
		font-style: italic;
	}
	.gr {
		color: #aa0000;
	}
	.gh {
		color: #000080;
		font-weight: bold;
	}
	.gi {
		color: #00aa00;
	}
	.go {
		color: #888888;
	}
	.gp {
		color: #555555;
	}
	.gs {
		font-weight: bold;
	}
	.gu {
		color: #800080;
		font-weight: bold;
	}
	.gt {
		color: #aa0000;
	}
	.kc {
		color: #8B008B;
		font-weight: bold;
	}
	.kd {
		color: #8B008B;
		font-weight: bold;
	}
	.kn {
		color: #8B008B;
		font-weight: bold;
	}
	.kp {
		color: #8B008B;
		font-weight: bold;
	}
	.kr {
		color: #8B008B;
		font-weight: bold;
	}
	.kt {
		color: #a7a7a7;
		font-weight: bold;
	}
	.m {
		color: #B452CD;
	}
	.s {
		color: #CD5555;
	}
	.na {
		color: #658b00;
	}
	.nb {
		color: #658b00;
	}
	.nc {
		color: #008b45;
		font-weight: bold;
	}
	.no {
		color: #00688B;
	}
	.nd {
		color: #707a7c;
	}
	.ne {
		color: #008b45;
		font-weight: bold;
	}
	.nf {
		color: #008b45;
	}
	.nn {
		color: #008b45;
		text-decoration: underline;
	}
	.nt {
		color: #8B008B;
		font-weight: bold;
	}
	.nv {
		color: #00688B;
	}
	.ow {
		color: #8B008B;
	}
	.w {
		color: #bbbbbb;
	}
	.mf {
		color: #B452CD;
	}
	.mh {
		color: #B452CD;
	}
	.mi {
		color: #B452CD;
	}
	.mo {
		color: #B452CD;
	}
	.sb {
		color: #CD5555;
	}
	.sc {
		color: #CD5555;
	}
	.sd {
		color: #CD5555;
	}
	.s2 {
		color: #CD5555;
	}
	.se {
		color: #CD5555;
	}
	.sh {
		color: #1c7e71;
		font-style: italic;
	}
	.si {
		color: #CD5555;
	}
	.sx {
		color: #cb6c20;
	}
	.sr {
		color: #1c7e71;
	}
	.s1 {
		color: #CD5555;
	}
	.ss {
		color: #CD5555;
	}
	.bp {
		color: #658b00;
	}
	.vc {
		color: #00688B;
	}
	.vg {
		color: #00688B;
	}
	.vi {
		color: #00688B;
	}
	.il {
		color: #B452CD;
	}
}
