.highlight {
	.hll {
		background-color: #ffffcc;
	}
	.c {
		color: #8f5902;
		font-style: italic;
	}
	.err {
		color: #a40000;
		border: 1px solid #ef2929;
	}
	.g {
		color: #000000;
	}
	.k {
		color: #204a87;
		font-weight: bold;
	}
	.l {
		color: #000000;
	}
	.n {
		color: #000000;
	}
	.o {
		color: #ce5c00;
		font-weight: bold;
	}
	.x {
		color: #000000;
	}
	.p {
		color: #000000;
		font-weight: bold;
	}
	.cm {
		color: #8f5902;
		font-style: italic;
	}
	.cp {
		color: #8f5902;
		font-style: italic;
	}
	.c1 {
		color: #8f5902;
		font-style: italic;
	}
	.cs {
		color: #8f5902;
		font-style: italic;
	}
	.gd {
		color: #a40000;
	}
	.ge {
		color: #000000;
		font-style: italic;
	}
	.gr {
		color: #ef2929;
	}
	.gh {
		color: #000080;
		font-weight: bold;
	}
	.gi {
		color: #00A000;
	}
	.go {
		color: #000000;
		font-style: italic;
	}
	.gp {
		color: #8f5902;
	}
	.gs {
		color: #000000;
		font-weight: bold;
	}
	.gu {
		color: #800080;
		font-weight: bold;
	}
	.gt {
		color: #a40000;
		font-weight: bold;
	}
	.kc {
		color: #204a87;
		font-weight: bold;
	}
	.kd {
		color: #204a87;
		font-weight: bold;
	}
	.kn {
		color: #204a87;
		font-weight: bold;
	}
	.kp {
		color: #204a87;
		font-weight: bold;
	}
	.kr {
		color: #204a87;
		font-weight: bold;
	}
	.kt {
		color: #204a87;
		font-weight: bold;
	}
	.ld {
		color: #000000;
	}
	.m {
		color: #0000cf;
		font-weight: bold;
	}
	.s {
		color: #4e9a06;
	}
	.na {
		color: #c4a000;
	}
	.nb {
		color: #204a87;
	}
	.nc {
		color: #000000;
	}
	.no {
		color: #000000;
	}
	.nd {
		color: #5c35cc;
		font-weight: bold;
	}
	.ni {
		color: #ce5c00;
	}
	.ne {
		color: #cc0000;
		font-weight: bold;
	}
	.nf {
		color: #000000;
	}
	.nl {
		color: #f57900;
	}
	.nn {
		color: #000000;
	}
	.nx {
		color: #000000;
	}
	.py {
		color: #000000;
	}
	.nt {
		color: #204a87;
		font-weight: bold;
	}
	.nv {
		color: #000000;
	}
	.ow {
		color: #204a87;
		font-weight: bold;
	}
	.w {
		color: #f8f8f8;
		text-decoration: underline;
	}
	.mf {
		color: #0000cf;
		font-weight: bold;
	}
	.mh {
		color: #0000cf;
		font-weight: bold;
	}
	.mi {
		color: #0000cf;
		font-weight: bold;
	}
	.mo {
		color: #0000cf;
		font-weight: bold;
	}
	.sb {
		color: #4e9a06;
	}
	.sc {
		color: #4e9a06;
	}
	.sd {
		color: #8f5902;
		font-style: italic;
	}
	.s2 {
		color: #4e9a06;
	}
	.se {
		color: #4e9a06;
	}
	.sh {
		color: #4e9a06;
	}
	.si {
		color: #4e9a06;
	}
	.sx {
		color: #4e9a06;
	}
	.sr {
		color: #4e9a06;
	}
	.s1 {
		color: #4e9a06;
	}
	.ss {
		color: #4e9a06;
	}
	.bp {
		color: #3465a4;
	}
	.vc {
		color: #000000;
	}
	.vg {
		color: #000000;
	}
	.vi {
		color: #000000;
	}
	.il {
		color: #0000cf;
		font-weight: bold;
	}
}
