.highlight {
	pre {
		background-color: #222222;
	}
	.hll {
		background-color: #222222;
	}
	.c {
		color: #000080;
	}
	.err {
		color: #cccccc;
		border: 1px solid #FF0000;
	}
	.g {
		color: #cccccc;
	}
	.k {
		color: #cdcd00;
	}
	.l {
		color: #cccccc;
	}
	.n {
		color: #cccccc;
	}
	.o {
		color: #3399cc;
	}
	.x {
		color: #cccccc;
	}
	.p {
		color: #cccccc;
	}
	.cm {
		color: #000080;
	}
	.cp {
		color: #000080;
	}
	.c1 {
		color: #000080;
	}
	.cs {
		color: #cd0000;
		font-weight: bold;
	}
	.gd {
		color: #cd0000;
	}
	.ge {
		color: #cccccc;
		font-style: italic;
	}
	.gr {
		color: #FF0000;
	}
	.gh {
		color: #000080;
		font-weight: bold;
	}
	.gi {
		color: #00cd00;
	}
	.go {
		color: #808080;
	}
	.gp {
		color: #000080;
		font-weight: bold;
	}
	.gs {
		color: #cccccc;
		font-weight: bold;
	}
	.gu {
		color: #800080;
		font-weight: bold;
	}
	.gt {
		color: #0040D0;
	}
	.kc {
		color: #cdcd00;
	}
	.kd {
		color: #00cd00;
	}
	.kn {
		color: #cd00cd;
	}
	.kp {
		color: #cdcd00;
	}
	.kr {
		color: #cdcd00;
	}
	.kt {
		color: #00cd00;
	}
	.ld {
		color: #cccccc;
	}
	.m {
		color: #cd00cd;
	}
	.s {
		color: #cd0000;
	}
	.na {
		color: #cccccc;
	}
	.nb {
		color: #cd00cd;
	}
	.nc {
		color: #00cdcd;
	}
	.no {
		color: #cccccc;
	}
	.nd {
		color: #cccccc;
	}
	.ni {
		color: #cccccc;
	}
	.ne {
		color: #666699;
		font-weight: bold;
	}
	.nf {
		color: #cccccc;
	}
	.nl {
		color: #cccccc;
	}
	.nn {
		color: #cccccc;
	}
	.nx {
		color: #cccccc;
	}
	.py {
		color: #cccccc;
	}
	.nt {
		color: #cccccc;
	}
	.nv {
		color: #00cdcd;
	}
	.ow {
		color: #cdcd00;
	}
	.w {
		color: #cccccc;
	}
	.mf {
		color: #cd00cd;
	}
	.mh {
		color: #cd00cd;
	}
	.mi {
		color: #cd00cd;
	}
	.mo {
		color: #cd00cd;
	}
	.sb {
		color: #cd0000;
	}
	.sc {
		color: #cd0000;
	}
	.sd {
		color: #cd0000;
	}
	.s2 {
		color: #cd0000;
	}
	.se {
		color: #cd0000;
	}
	.sh {
		color: #cd0000;
	}
	.si {
		color: #cd0000;
	}
	.sx {
		color: #cd0000;
	}
	.sr {
		color: #cd0000;
	}
	.s1 {
		color: #cd0000;
	}
	.ss {
		color: #cd0000;
	}
	.bp {
		color: #cd00cd;
	}
	.vc {
		color: #00cdcd;
	}
	.vg {
		color: #00cdcd;
	}
	.vi {
		color: #00cdcd;
	}
	.il {
		color: #cd00cd;
	}
}
