.highlight {
	.hll {
		background-color: #ffffcc;
	}
	.c {
		color: #008000;
	}
	.err {
		border: 1px solid #FF0000;
	}
	.k {
		color: #0000ff;
	}
	.cm {
		color: #008000;
	}
	.cp {
		color: #0000ff;
	}
	.c1 {
		color: #008000;
	}
	.cs {
		color: #008000;
	}
	.ge {
		font-style: italic;
	}
	.gh {
		font-weight: bold;
	}
	.gp {
		font-weight: bold;
	}
	.gs {
		font-weight: bold;
	}
	.gu {
		font-weight: bold;
	}
	.kc {
		color: #0000ff;
	}
	.kd {
		color: #0000ff;
	}
	.kn {
		color: #0000ff;
	}
	.kp {
		color: #0000ff;
	}
	.kr {
		color: #0000ff;
	}
	.kt {
		color: #2b91af;
	}
	.s {
		color: #a31515;
	}
	.nc {
		color: #2b91af;
	}
	.ow {
		color: #0000ff;
	}
	.sb {
		color: #a31515;
	}
	.sc {
		color: #a31515;
	}
	.sd {
		color: #a31515;
	}
	.s2 {
		color: #a31515;
	}
	.se {
		color: #a31515;
	}
	.sh {
		color: #a31515;
	}
	.si {
		color: #a31515;
	}
	.sx {
		color: #a31515;
	}
	.sr {
		color: #a31515;
	}
	.s1 {
		color: #a31515;
	}
	.ss {
		color: #a31515;
	}
}
