.navi-search-result {
  font-family: Helvetica, 'Arial', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  background: @denali-grey-100;
  color: @denali-grey-800;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  border-collapse: collapse;
  width: 100%;
  text-align: left;
}

.navi-search-result td {
  padding: 14px 10px !important;
  border-bottom: 1px solid rgba(@denali-grey-800, 0.2) !important;
}
